-# Список свежих новостей
%table
  -@news.each do |article|
    %tr
      %td
        %h2
          = article.title
        %h3
          = article.created_at
        %p
          =link_to "More", "/news/#{article.id}"

