#all_news
  %h2
    All news
  -if current_user
    -if current_user.role > 0
      %p{:style => "text-align: center;"}
        =link_to('Create new article', "/news/new", :onclick=>'return Popup(this);')
    =render 'news/list'
