-# Рендер одной новости
#newsheadline
  %h2
    =@article.title
%hr
#newsdata
  %p.news
    =@article.description
  %p
    =@article.picture_url
  -if current_user.role > 0
    %hr
    %div{:style=>"text-align:canter;"}
      #navigation
        =link_to 'Edit', "/news/#{@article.id}/edit"
      #navigation
        =link_to 'Delete', "/news/#{@article.id}", method: :delete, confirm: 'Are you sure want to delete this article?'
