-# Футер
=render 'info/social'
=link_to 'Contacts', '/contacts'
=link_to 'News Archive', '/news/archive'
=link_to 'About us', '/about'
-# Здесь надо логотип как-то вставить будет
=link_to 'Main page', '/'
=render 'feedback/form'
