-# Хэдер
-if current_user
  %p
    = link_to 'Personal cabinet', '/cabinet'
  %p
    You logged as #{current_user.username}
  %p
    =link_to 'logout', destroy_user_session_path, method: :delete
  %p
    =link_to 'Orders tracking', '/orders/tracking'
-else
  =render 'devise/sessions/new'
  =link_to 'register', '/users/sign_up'
%hr
