-# Список отзывов о сервисе
%h2
  Reviews
%table
  -@reviews.each do |review|
    %tr
      %td
        #user_data
          =review.user.username
        #user_mark
          =review.mark
      %td
        #user_content
          %p
            =review.descripton


