#about_information
  %h2
    =@about.title
  %p
    =@about.description
  -if current_user and current_user.role > 0
    %p
      #navigation
        =link_to('Edit', '/manage_about',:onclick=>'return Popup(this)')
